@using Microsoft.AspNetCore.Identity
@using HiFi.Data.Models
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    var currentUserName = @User.Identity.Name ?? "User";
    var cartCount = 0;
    if (HttpContextAccessor.HttpContext.Session.GetInt32("CartCount") != null)
    {
        cartCount = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetInt32("CartCount"));
    }
}
<!-- Navbar ================================================== -->
<div id="welcomeLine" class="row">
    <div class="span6">Welcome!<strong> @currentUserName</strong></div>
    <div class="span6">
        <div class="pull-right">
            <span class="btn btn-mini">En</span>
            <a href="\"><span>&pound;</span></a>
            <span class="btn btn-mini">₹155.00</span>
            <a href="\"><span class="">$</span></a>
            <a href="/ShoppingCart/Index">
                <span class="btn btn-mini btn-primary">
                    <i class="fa fa-shopping-cart" style="color:white">
                    </i> @cartCount Itemes in your cart.
                </span>
            </a>
        </div>
    </div>
</div>
<div id="logoArea" class="navbar">
    <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div class="navbar-inner">
        <a class="brand" href="\"><img src="~/themes/images/hiLogo.jpg" alt="Hi-FI" /></a>
        <form class="form-inline navbar-search" method="post" action="products.html">
            <input id="srchFld" class="srchTxt" type="text" />
            <select class="srchTxt">
                <option>All</option>
                <option>CLOTHES </option>
                <option>FOOD AND BEVERAGES </option>
                <option>HEALTH & BEAUTY </option>
                <option>SPORTS & LEISURE </option>
                <option>BOOKS & ENTERTAINMENTS </option>
            </select>
            <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
        </form>
        <ul id="topMenu" class="nav pull-right">
            @*<li class=""><a href="normal.html">Delivery</a></li>*@
            <li class=""><a href="@Url.Action("Contact", "Home")">Contact</a></li>
            @*@Html.Partial("_LoginPartial")*@
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        Hello @User.Identity.Name!
                    </a>
                </li>
                <li class="nav-item">
                    @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>*@
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark btnLogout" style="color:#DDD;
                            font-family:Arial, Helvetica, sans-serif; font-size:16px;padding-top:20px">
                            Logout
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }
        </ul>
    </div>
</div>