@model IEnumerable<HiFi.Data.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Get AllProducts By SubCategory";
}


<div class="span9">
    <h4>Products By SubCategory : @ViewBag.SubCategoryName </h4>
    <ul class="thumbnails">
        @foreach (var item in Model)
        {
            <li class="span3">
                <div class="thumbnail">
                    @if (@item.ProductImage != null && item.ProductImage.Count > 0 && item.ProductImage[0].FKProductId == item.PKProductId)
                    {
                        <a asp-controller="Product" asp-action="ProductDetails" asp-route-productId="@item.PKProductId">
                            <img src="@item.ProductImage[0]?.ImagePath" width="90%" alt="@item.ProductImage[0].ImageName"
                                 style="height: 160px; width: 160px;" />
                        </a>
                    }
                    <div class="caption">
                        <h5>@item.ProductName</h5>
                        <p>
                            @if (@item.ShortDescription.Length > 35)
                            {
                                @item.ShortDescription.Substring(0, 35)
                            }
                            else
                            {
                                @item.ShortDescription
                            }
                        </p>
                        <h4 style="text-align:center">
                            <a class="btn" href="/Product/ProductDetails?productId=@item.PKProductId">
                                <i class="fa fa-search"></i>
                            </a>
                            <a class="btn" href="#">Add to <i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-primary" href="#">$@item.Price</a>
                        </h4>
                    </div>
                </div>
            </li>
        }
    </ul>

</div>
