@model IEnumerable<HiFi.Data.Models.SubCategoryOne>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_ALayout.cshtml";
}

<section class="container-fluid">
    <h2>Index</h2>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubCategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SC_ImageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SC_ImagePath)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SC_ImageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SC_ImagePath)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SubCategoryOneId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SubCategoryOneId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SubCategoryOneId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>