@model IEnumerable<HiFi.WebApplication.Areas.Admin.ViewModels.ProductViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_ALayout.cshtml";
}

<section class="container-fluid">
    <div class="content panel-body">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShortDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubCategoryId)
                    </th>
                    <th>
                       <div>Image</div>
                    </th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShortDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.SubCategoryId)*@
                        </td>
                        <td>
                            @if (@item.ProductImageModel!=null && item.ProductImageModel.Count > 0 && item.ProductImageModel[0].FKProductId==item.ProductId)
                            {
                                <div>
                                    <img src="@item.ProductImageModel[0]?.ImagePath" width="90%" 
                                         style="border-radius:5px;border:1px solid #bbb9b9; height: 50px; width: 50px;" />
                                </div>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#myFlashMessageDiv").show().delay(2000).fadeOut();
            var wed = $('#adminCategoriesTable').DataTable({
                bSort: true,

                'aoColumns': [
                    { sWidth: "25%", bSearchable: true, bSortable: true, className: "dt-left" },
                    { sWidth: "20%", bSearchable: true, bSortable: true, className: "dt-left" },
                    { sWidth: "10%", bSearchable: true, bSortable: true, className: "dt-left" },
                    { sWidth: "22%", bSearchable: true, bSortable: true, className: "dt-left" },
                    { sWidth: "22%", bSearchable: true, bSortable: true, className: "dt-left" },
                    { sWidth: "10%", bSearchable: true, bSortable: true },
                    { sWidth: "45%", bSearchable: true, bSortable: true }
                    //{ sWidth: "10%", bSearchable: true, bSortable: true },
                    //match the number of columns here for table1
                ],
                "bAutoWidth": false,
                "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "info": true,
                "paging": true,
                "fnInitComplete": function () {

                    $("#adminCategoriesTable").css("width", "100%");
                }
            });

            $('#btnExportData').click(function () {
                $("#adminCategoriesTable").table2excel({
                    // exclude: ".excludeThisClass",
                    //name: "Worksheet Name",
                    filename: "SomeFile.xls" //do not include extension
                    //fnExcelReport();
                });
            });
            function fnExcelReport() {
                var tab_text = $('#adminCategoriesTable').val();

                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");

            }

            //$('.adminCategoriesTable').DataTable();
        })
    </script>
}
